@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: "Inter", sans-serif;
}

/* Chrome, Edge y Safari */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Firefox */
.scrollbar-hidden {
    scrollbar-width: none;
}

/* IE y Edge antiguo */
.scrollbar-hidden {
    -ms-overflow-style: none;
}